<div class="card">
  <div class="card-content" style="height:400px;overflow-y: scroll">
    <div class="card" *ngFor='let x of ["PP","GP","EP","SP","CP"]'>
      <div class="card-content" style="height:400px;overflow-y: scroll">
        <h6>{{x}}</h6>
        <input class="col s2" type="text"/>
      </div>
    </div>
    <button class="col s2 offset-s10 btn blue nudge"(click)="addAttack()">+</button>
    <div *ngFor="let attack of attacks">
      <div class='col s10'><input value ="{{attack}}"/></div><button (click)="removeAttack(attack)" class="col s2 btn red">-</button>
    </div>
  </div>
  <h5 class="center">Equipment</h5>
</div>
