<div class="card col s12 m6">
  <div class="card-content">
    <h6>Character name</h6>
    <select>
      <option *ngFor="let character of characters"></option>
    </select>
  </div>
</div>
<div class="card col s12 m6">
  <form class="card-content">
    <md-input-container>
      <input mdInput name="Class" placeholder="Class" type="text" [ngModel]="basic[0].info.class"/>
      <input mdInput name="Level" placeholder="Level" type="text"  [ngModel]="basic[0].info.level" readonly/>
      <input mdInput name="Background" placeholder="Background" type="text"  [ngModel]="basic[0].info.background"/>
      <input mdInput name="Race" placeholder="Race" type="text"  [ngModel]="basic[0].info.race"/>
      <input mdInput name="Alignment" placeholder="Alignment" type="text"  [ngModel]="basic[0].info.alignment"/>
      <input mdInput name="Experience" placeholder="Experience" type="text"  [ngModel]="basic[0].info.experience"/>
    </md-input-container>
  </form>
</div>
