<div class="card col s12 m6">
  <div class="card-content">
    <h6>Character name</h6>
      <input class="col s12" (blur)="pickUser(char)" [(ngModel)]="char"/>
      <button class="btn grey lighen-1 col s5 ">Save</button> <button (click)="pickUser(char)" class="btn blue col s5 offset-s1">Load</button>
  </div>
</div>

  <div class="card col s12 m6">
    <form class="card-content">
        <input name="Class" placeholder="Class" type="text" [(ngModel)]="selectedUser?.info.class"/>
        <input name="Level" placeholder="Level" type="text" value="{{level}}" readonly/>
        <input name="Background" placeholder="Background" type="text" [(ngModel)]="selectedUser?.info.background"/>
        <input name="Race" placeholder="Race" type="text" [(ngModel)]="selectedUser?.info.race"/>
        <input name="Alignment" placeholder="Alignment" type="text" [(ngModel)]="selectedUser?.info.alignment"/>
        <input name="Experience" placeholder="Experience" type="text" (keyup)="calculate()" [(ngModel)]="selectedUser?.info.experience"/>
    </form>
  </div>
