<div class="card col s12 m6">
  <div class="card-content">
    <h6>Character name</h6>
    <select>
      <option *ngFor="let character of characters"></option>
    </select>
  </div>
</div>
<div class="card col s12 m6">
  <form class="card-content">
    <md-input-container *ngFor="let x of basic.info" id="{{x[0]}}" class="{{'col s' + x[1]}}">
      <input mdInput *ngIf="x[0]=='Lvl'"  name="{{x[0]}}" placeholder="{{x[0]}}" type="text"  [ngModel]="level" readonly/>
      <input mdInput *ngIf="x[0]=='Experience'"  name="{{x[0]}}" placeholder="{{x[0]}}" type="text" (change)="modifierService.setLvlMod(level)" [(ngModel)]="info[6][2]"(keyup)="calculate(info[6][2])"/>
      <input mdInput *ngIf="x[0]!='Lvl'&& x[0]!='Experience'"  name="{{x[0]}}" placeholder="{{x[0]}}" type="text" value="{{x[2]}}"/>
    </md-input-container>
  </form>
</div>
