<div class="container">
  <div class="card-panel grey">
    <div class="row">
      <app-info class="col s12"></app-info>
    </div>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="col s12 l5">
          <app-inspire class="hide-on-large-only"></app-inspire>
          <app-stats></app-stats>
        </div>
        <div class="col s12 l7">
          <app-inspire class="hide-on-med-and-down"></app-inspire>
          <app-proficiency></app-proficiency>
          <app-throws></app-throws>
          <app-skills></app-skills>
        </div>
        <div class="clearfix"></div>
        <app-languages-profs class="col s12"></app-languages-profs>
      </div>
      <div class="col s12 m6 l4">
        <app-secondaries class="col s12"></app-secondaries>
        <app-hitpoints class="col s12"></app-hitpoints>
        <app-save-hits class="col s12"></app-save-hits>
        <app-attacks class="col s12"></app-attacks>
        <app-equipment class="col s12"></app-equipment>

      </div>
      <div class="col s12 m6 l4">

      </div>
    </div>
  </div>
</div>

