<div class="card col s12 m6">
  <div class="card-content">
    <h5 class="center">Hit Dice</h5>
    <h6 class="center"></h6>
  </div>
</div>
<div class="card col s12 m6">
  <div class="card-content">
    <div class="row">
      <h6 class="col s6">Successes</h6>
      <div class="col s6">
        <input class="col s4" type="checkbox"/>
        <input class="col s4" type="checkbox"/>
        <input class="col s4" type="checkbox"/>
      </div>
    </div>
    <div class="row">
      <h6 class="col s6">Successes</h6>
      <div class="col s6">
        <input class="col s4" type="checkbox"/>
        <input class="col s4" type="checkbox"/>
        <input class="col s4" type="checkbox"/>
      </div>
    </div>
    <h5 class="center">Death Saves</h5>
  </div>
</div>
