<div class="card col s12 m6">
  <div class="card-content">
    <h5 class="center">Hit Dice</h5>
    <h5 class="center"></h5>
  </div>
</div>
<div class="card col s12 m6">
  <div class="card-content">
    <div class="row">
      <h6 class="col s6">Successes</h6>
      <div class="col s6">
        <input name="success1" id="success1" class="col s4" [(ngModel)]="successes[0]" type="checkbox"/>
        <input name="success2" id="success2" class="col s4" [(ngModel)]="successes[1]" type="checkbox"/>
        <input name="success3" id="success3" class="col s4" [(ngModel)]="successes[2] "type="checkbox"/>
      </div>
    </div>
    <div class="row">
      <h6 class="col s6">Failures</h6>
      <div class="col s6">
        <input name="fail1" class="col s4" [(ngModel)]="failures[0]" type="checkbox"/>
        <input name="fail2" class="col s4" [(ngModel)]="failures[1]" type="checkbox"/>
        <input name="fail3" class="col s4" [(ngModel)]="failures[2]" type="checkbox"/>
      </div>
    </div>
    <h5 class="center">Death Saves</h5>
  </div>
</div>
